---
import { Image } from "astro:assets";
import 'aos/dist/aos.css'
interface Props {
    title: string;
    info: string;
    url: string;
    position: string;
    load: string;
}

const { title, info, url, position, load} = Astro.props;
const isLeftAling = position === "true"
const loadingValue = (load === "eager" || load === "lazy") ? load : "lazy";
---
{isLeftAling ? (
<div class="flex flex-col md:flex-row justify-center items-center mb-16" data-aos="fade-left">
    <Image
        src={url}
        alt={title}
        width={1000}
        height={800}
        class="w-full md:w-6/12 max-w-full mx-auto order-2 md:order-1"
        loading={loadingValue}
    />
    <div class="flex flex-col items-center w-full md:w-6/12 px-4 my-4 md:px-10 order-1 md:order-2">
        <slot />
        <div class="my-3">
            <h2 class="max-md:text-3xl text-4xl font-bold text-black dark:text-white text-center my-5">
                {title}
            </h2>
            <p class="text-2xl text-justify md:text-center text-black dark:text-white">
                {info}
            </p>
        </div>
    </div>
</div>
) : (
<div class="flex flex-col md:flex-row justify-center items-center my-16" data-aos="fade-right">
    <div class="flex flex-col items-center w-full md:w-6/12 px-4 my-4 md:px-10">
        <slot />
        <div class="my-3">
            <h2
                class="max-md:text-3xl text-4xl font-bold text-black dark:text-white text-center my-5"
            >
                {title}
            </h2>
            <p class="text-2xl text-justify md:text-center text-black dark:text-white">
                {info}
            </p>
        </div>
    </div>
    <Image
        src={url}
        alt={title}
        width={1000}
        height={800}
        class="max-w-full md:max-w-[600px] mx-auto"
        loading={loadingValue}
    />
</div>
)}

<script>
    import AOS from 'aos'; // Importa AOS

    AOS.init({
        duration: 1000,
        offset: 100,
        easing: 'ease-in-out',
        once: true, // Esto asegura que la animación solo ocurra una vez
        mirror: false, // Evita que la animación se repita al hacer scroll hacia atrás
        anchorPlacement: 'bottom-bottom',
    });

</script>